
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <link href="/media/styles/main.css" rel="stylesheet" type="text/css" /> 
  <link href="/media/styles/sf_frame.css" rel="stylesheet" type="text/css" /> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <script src="/media/scripts/jquery.tablesorter.min.js" type="text/javascript"></script>

</head>
<body>
{% include "header.html"%}
<div class="main">
{% block content %}
{% endblock %}
</div
<script type="text/javascript">
$(document).ready(function() {
       $("table.results").tablesorter();
});
</script>
</body>
</html>
